<div class="login-body">
  <div style="height: 100vh;">
    <div class="row middle">
      <div class="col-8 col-sm-8 col-md-4 col-lg-3 col-xl-2 card-log">
        <label class="text-white pt-2 text-login">เข้าสู่ระบบ</label>
        <form>
          <div class="form-group">
            <label class="text-white pt-2">ชื่อผู้ใช้</label>
            <input type="text" class="form-control input-log">
          </div>
          <div class="form-group">
            <label class="text-white pt-2">รหัสผ่าน</label>
            <input type="password" class="form-control input-log">
          </div>
          <button type="submit" class="btn btn-log btn-block" (click)="login()"><b>เข้าสู่ระบบ</b></button>
        </form>
      </div>
    </div>
  </div>
</div>