.page-body {
    background-color: #191e24;
}

.btn-add{
    font-size: 0.8vw;
    border-radius: 0.8em;
    background-color: #ffdc68;
    color: black;
}

.online{
    height: 10px;
    width: 10px;
    background-color: #12c48b;
    border-radius: 50%;
    display: inline-block;
}

.offline{
    background-color: #e56a66 !important;
}

.verticelLine{
    background-color: #2f333b;
    width:95%;
}

.text-click{
    text-align-last: end; font-size: 0.8vw; text-decoration: underline; color: #ffdc68;
}

.scroll {  
    padding:10px;
    padding-right: 20px; 
    width: auto; 
    height: 50vh; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify; 
} 






