<div class="page-body">
    <div class="row mt-5" style="display: flex; justify-content: center;">
        <div class="col-4 p-0 text-white" style="font-size: 1.5vw;">เพิ่ม Endpoint ใหม่</div>
    </div>
    <div class="row mt-5" style="display: flex; justify-content: center;" >
        <div class="col-4" style="border-radius: 10px; border: 1px solid #303439; color: white; padding: 1.5em 3em;">
          <div class="row">
            <label class="col-12 text-white" style="font-size: 1.2vw; margin-bottom: 1em;">รายละเอียด</label>
          </div>
          <div class="row">
            <form class="col-12" style="font-size: 1vw; margin-bottom: 1em;">
                <div class="row form-group">
                  <label class="col-3 text-white pt-2">Name:</label>
                  <input type="text" class="col-9 form-control input-log">
                </div>
                <div class="row form-group">
                  <label class="col-3 text-white pt-2">Target:</label>
                  <input type="text" class="col-9 form-control input-log">
                </div>
                <div class="row form-group">
                  <label class="col-3 text-white pt-2">RegEX:</label>
                  <input type="text" class="col-9 form-control input-log">
                </div>
                <div class="row form-group">
                  <label class="col-3 text-white pt-2">Endpoint:</label>
                  <select class="form-control col-9 form-control input-log">
                    <option>Line</option>
                    <option>RestAPI</option>
                  </select>
                </div>
                <div class="row form-group">
                  <label class="col-3 text-white pt-2">Token/URL:</label>
                  <input type="text" class="col-9 form-control input-log">
                </div>
              </form>
          </div>
          <div class="row">
            <div class="col-6" style="font-size: 0.9vw; text-decoration: underline; color: #e56a66;">ลบ</div>
            <div class="col-6" style="font-size: 0.9vw; display: flex; justify-content: flex-end;">
              <button type="button" class="btn btn-create" (click)="addEndPoint()"><b>+เพิ่ม</b></button>
            </div>
          </div>
        </div>
    </div>
</div>